<!doctype html>
<html lang="en" xmlns:th='http://www.thymeleaf.org/'>
<head th:replace="fragments :: head"></head>

<body>

<div class="page-container">

    <header th:replace="fragments :: header"></header>

    <form method="post" th:action="@{/gallery/edit}">

        <div>
            <label>Title
                <input type="text" name="title" th:value="${artwork.title}" th:field="${artwork.title}">
            </label>
            <p style="color:red;" th:errors="${artwork.title}"></p>
        </div>

        <div>
            <label>File Name
                <input type="text" name="fileName" th:value="${artwork.fileName}" th:field="${artwork.fileName}">
            </label>
            <p style="color:red;" th:errors="${artwork.fileName}"></p>
        </div>

        <div>
            <label>Art Type
                <select name="artType" th:field="${artwork.artType}">
                    <option th:each="type : ${artTypes}" th:value="${type}" th:text="${type}"></option>
                </select>
            </label>
            <p style="color:red;" th:errors="${artwork.artType}"></p>
        </div>

        <div>
            <label>Description
                <input type="text" name="description" th:field="${artwork.description}" th:value="${artwork.description}" placeholder="optional">
            </label>
            <!--            <p style="color:red;" th:errors="${image.description}"></p>-->
        </div>

        <div>
            <input type="submit" value="Edit">
        </div>
        <input type="hidden" th:value="${artwork.id}" name="artworkId" th:field="${artwork.id}"/>

    </form>

</div>

</body>
</html>